<div class="bg-danger m-3 h-100 d-flex justify-content-center fadeInDown">
  <table class="table table-dark table-hover table-striped m-3 w-75">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">LVL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of allPokemons"
      class="pointer hover-border"
      [ngClass]="{'border border-2 border-success': pokemonStatus(pokemon)}"
      (click)="getPokemon(pokemon)"
      >
        <th scope="row">{{ pokemon.id }}</th>
        <td class="mayus">{{ pokemon.name }}</td>
        <td>{{lvl}}</td>
      </tr>
    </tbody>
  </table>
</div>
