<div class="bg-danger h-100 d-flex justify-content-center">
  <table class="table table-dark table-striped mt-3 w-75">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">LVL</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pokemon of allPokemons" class="" [ngClass]="{'border border-2 border-success': pokemonStatus(pokemon)}">
        <th scope="row">{{ pokemon.id }}</th>
        <td class="mayus">{{ pokemon.name }}</td>
        <td>{{lvl}}</td>
      </tr>
    </tbody>
  </table>
</div>
